<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>

<div class="container">
  <h1>Klub lekkoatletyczny</h1>
  <form>

    <div class="row">
      <div class="col-md-3">
        <label for="aa">Imie</label>
        <input #name type="text" class="form-control" id="aa">
      </div>
      <div class="col-md-3">
        <label for="bb">Nazwisko</label>
        <input  #surname name="name" type="text" class="form-control" id="bb">
      </div>
      <div class="col-md-3">
        <label for="cc">Okres</label>
        <input #date type="text" bsDaterangepicker class="form-control" name="" id="cc">
      </div>
    </div>

    <button type="button" class="btn btn-success" (click)="onSubmit(name.value, surname.value, date.value)">Submit</button>

  </form>

  <table>
    <tr>
      <th class="col-md-3">Imie</th>
      <th class="col-md-3">Nazwisko</th>
      <th class="col-md-3">Okres</th>
    </tr>
    <tr *ngFor="let boss of bosses;">
      <td  class="col-md-3">
        {{boss.name}}
      </td >
      <td  class="col-md-3">
        {{boss.surname}}
      </td>
      <td class="col-md-3">
        {{boss.date}}
      </td>
      <td>
        <button  type="button" class="btn btn-danger" (click)="delete(boss.name, boss.surname)">delete</button>
      </td>
    </tr>
  </table>

</div>
